<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles _ATML/ATM.css">
    <script src="https://kit.fontawesome.com/7b2d4bf64b.js" crossorigin="anonymous"></script>
</head>
<h1>Caso Cajero</h1>

<body>
<fieldset id="total_box">
    <header id="header_box">
        <section id="button_felt">
            <i class="fas fa-caret-square-right"></i>
            <i class="fas fa-caret-square-right"></i>
            <i class="fas fa-caret-square-right"></i>

        </section>

        <nav id="screen_box">
            <h1>!Bienvenido al banco!</h1>
            <p>Por favor digite su clave</p>
            <input type="password" id="pass">
            <iframe  width="320px" height="230px" src="view_ATM/menu_main.html" ></iframe>
        </nav>

        <aside id="button_rigth">

            <i class="fas fa-caret-square-left"></i>
            <i class="fas fa-caret-square-left"></i>
            <i class="fas fa-caret-square-left"></i>
  

        </aside>
        <!-- <input type="text" > -->

    </header>



    <main id="main_box">
        <section id="pad_number">
            <input type="button" class="number" value="1">
            <input type="button" class="number" value="2">
            <input type="button" class="number" value="3">
            <input type="button" class="number" value="4">
            <input type="button" class="number" value="5">
            <input type="button" class="number" value="6">
            <input type="button" class="number" value="7">
            <input type="button" class="number" value="8">
            <input type="button" class="number" value="9">
            <input type="button" class="number" value=" ">
            <input type="button" class="number" value="0">
            <input type="button" class="number" value=".">

        </section>

        <section id="button_slect">
            <input type="button" class="select" id="cancel" value="CANCEL">
            <input type="button" class="select" id="clear" value="CLEAR">
            <input type="button" class="select" id="ok" value="OK">
            <input type="button" class="select" id="nada" value="">

        </section>

        <section id="field_card">
            <label class="word" for="a">CARD</label><br>
                <button disabled>   
                <input type="icon" class="icon_cr"  disabled>
                </button>
                
            <label class="word" for="a">RECEPT</label>
                <button disabled>   
                <input type="icon" class="icon_cr"  disabled>
                </button>
            <label class="word" for="a">CASH</label>
                <button disabled>   
                <input type="icon" class="icon_cr"  disabled>
                </button>
            <label class="word" for="a">DEPOSIT</label>
                <button disabled>   
                <input type="icon" class="icon_cr"  disabled>
                </button>
        </section>


    </main>
</fieldset>
</body>
</html>