<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>factorial</title>
    <link rel="stylesheet" href="../css/factorial.css">

</head>
<body>
    
    <fieldset>
    <legend>Factorial de un numero</legend>
        <!-- <form action=""> -->
        <label for="">Ingrese un Numero</label><br>
        <input type="text" id="num">
        <input type="text" id="factorial" disabled ><br>
        <!-- <input onclick="calcular()"  type="submit" value="Enviar" ></input> -->
        <input type="button" onclick="calcular()" value="calcular" ></input>
            
    <!-- </form> -->
    </fieldset>
    <script src="../js/factorial.js"></script>

</body>
</html>