<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
<form name="form" action="../index.html" method="GET" >

    <fieldset id="caja">
        <legend id="login">login</legend>
        <label for="usser"> Imput Usser</label>
        <input type="texto" id="us" name="email" placeholder="Usser"><br>
        <label for="pass">Input Password</label>
        <input type="password" id="pass" name="password" placeholder="Password"><br>
        <INPUT onclick=go() name="submit" id="validar" type="submit" value="Acceder">

        </fieldset>
        <script src="../js/login.js"></script>
</form>

</body>
</html>