<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/styles _ATML/menu_main.css">
</head>
<body>
    <h2>MENU PRINCIPAL</h2>
    <section id="word_left">
    <input type="button" class="word_left" disabled value="RETIRO">
    <input type="button" class="word_left" disabled value="CONSULTAS">
    <input type="button" class="word_left" disabled value="OPERACIONES">
    
    </section>
    <aside id="word_right">
        <input type="button" class="word_right" disabled value="TRASFERENCIAS">
        <input type="button" class="word_right" disabled value="   ">
        <input type="button" class="word_right" disabled value="ULTIMOS MOVIMIENTOS">
    </aside>
  
</body>
</html>

<!-- como puedo redireccioar una ventana con javascript pero que lo haga con un boton -->